// https://material.io/guidelines/style/color.html#color-color-palette
$md-blue-grey: #607D8B;
$md-blue-grey-light: #B0BEC5;
$md-blue-grey-dark: #263238;

$md-red: #F44336; // RHC
$md-red-light: #EF9A9A;
$md-red-dark: #B71C1C;
$md-blue: #2196F3; // sales
$md-blue-light: #2196F3;
$md-blue-dark: #0D47A1;
$md-green: #4CAF50; // website
$md-green-light: #A5D6A7;
$md-green-dark: #1B5E20;
$md-purple: #673AB7; // Workshop
$md-purple-light: #B39DDB;
$md-purple-dark: #B39DDB;
$md-amber: #FFE082; // contacts
$md-amber-light: #FFC107;
$md-amber-dark: #FF6F00;

$base-color-bg: #ECEFF1;